.s-hot-deal
	.container
		.hot-deal
			.hot-deal__item
				.hot-deal__content
					.hot-deal__content-promo
						.promo-block
							.promo-block__content
								.promo-block__text Sale
								.promo-block__sale 50%
					.hot-deal__content-info
						a(href="reebok-track-jacket.html").hot-deal__info-title FULL WINTER KIT
						span.hot-deal__info-subtitle Half Jacket + Skiny Trousers + Boot leather
					.hot-deal__content-block
						a(href="#").hot-deal__basket
							+icon('buy', 'icon')
						span.hot-deal__price 120<span>$</span>
			.adv-area
				.adv-area__content
					span.adv-area__text adv <span>area</span>
					span.adv-area__size 100 x 470