form(action="#").form-radio-group.form-new-arrivals
	span.form-radio-group__container.form-new-arrivals__container
		input(type="radio" id="radio1" name="radio-group").form-radio-group__field
		label(for="radio1").form-radio-group__text.form-new-arrivals__text s
	span.form-radio-group__container.form-new-arrivals__container
		input(type="radio" id="radio2" name="radio-group").form-radio-group__field
		label(for="radio2").form-radio-group__text.form-new-arrivals__text m
	span.form-radio-group__container.form-new-arrivals__container
		input(type="radio" id="radio3" name="radio-group").form-radio-group__field
		label(for="radio3").form-radio-group__text.form-new-arrivals__text l
	span.form-radio-group__container.form-new-arrivals__container
		input(type="radio" id="radio4" name="radio-group").form-radio-group__field
		label(for="radio4").form-radio-group__text.form-new-arrivals__text xl