section.s-related-products
	.s-title
		h2.s-title__title <span class="s-title__first-word">RELATED</span> PRODUCTS
		span.s-title__subtitle Lorem Ipsum is simply dummy text of the printing and typesetting industry
	.container
		.related-products.slider-related-products
			+card-prev("related-products__item", "3")
			+card-prev("related-products__item", "2")
			+card-prev("related-products__item", "3")
			+card-prev("related-products__item", "4")