.noUi-target {
	border: none;
	background-color: $color-check;
}

.noUi-horizontal {
	height: 3px;
}

.noUi-connect {
	background-color: $text-color;
}

.noUi-horizontal .noUi-handle {
	width: 11px;
	font-size: 14px;
	height: 11px;
	background-color: $text-color;
	top: -4.5px;
	cursor: pointer;
}

.noUi-handle:before,
.noUi-handle:after {
	content: none;
}

.noUi-handle {
	box-shadow: none;
	border: none;
	border-radius: 50%;
}

html:not([dir="rtl"]) .noUi-horizontal .noUi-handle {
	right: -2px;
}

.noUi-tooltip {
	border: none;
	border-radius: none;
	background: transparent;
	color: $text-color;
	padding: 5px;
	font-size: 14px;
	font-family: "h-bold";
	font-weight: 400;
}