.sidebar {
	display: block;

	&__row {
		@include make-row();

		@include not-last {
			margin-bottom: 30px;

			@include phone {
				margin-bottom: 15px;
			}
		}

		@include landscape {
			&>* {
				margin-bottom: 30px;
			}
		}

		@include landscape {
			flex-direction: row;
			align-items: stretch;
		}
	}

	&__line {
		@include make-col-ready();
		@include make-col(12);

		@include landscape {
			@include make-col(6);
		}

		@include phone {
			@include make-col(12);
		}

		&--mob {
			@include phone {
				height: 55px;
				overflow: hidden;
				transition: height .2s ease-in-out;
			}

			&.is-active {
				.sidebar__header-icon {
					transform: rotate(180deg);
				}
			}
		}
	}


	&__content {
		padding: 40px;
		background-color: $white;

		@include desktop {
			padding: 30px 20px;
		}

		@include landscape {
			height: 100%;
			padding: 15px 20px 20px 20px;
		}

		@include phone-wide {
			height: 100%;
		}

		&--mob {
			@include phone {
				padding: 0;
			}
		}
	}

	&__title {
		font-weight: 400;
		font-size: 18px;
		font-family: "h-black";
		color: $accent;
	}

	&__range-slider {
		margin-bottom: 40px;
	}

	&__header {
		margin-bottom: 25px;
		position: relative;

		@include tablet {
			margin-bottom: 15px;
		}

		&--mob {
			@include phone {
				height: 55px;
				padding: 15px 20px;
				display: flex;
				align-items: center;
				cursor: pointer;
				margin-bottom: 0;
			}
		}

		&-price-filtter {
			margin-bottom: 60px;

			@include tablet {
				margin-bottom: 45px;
			}

			@include phone {
				margin-bottom: 30px;
			}
		}

		&-icon {
			display: none;

			@include phone {
				display: block;
				position: absolute;
				@include size(18px);
				fill: $accent;
				right: 20px;
				transform: rotate(0);
				transition: $transition-base;
			}
		}
	}

	&__list {
		@include not-last {
			margin-bottom: 25px;

			@include tablet {
				margin-bottom: 15px;
			}
		}
	}

	&__item,
	&__link {
		font-weight: 400;
		font-size: 16px;
		font-family: "h-bold";
		color: $text-color;
		cursor: pointer;
		transition: $transition-base;

		&:hover {
			color: $accent;
		}
	}

	& .is-active {

		&.sizes__item,
		&.brands__item {
			color: $accent;

			&:before {
				border: 4px solid $accent;
			}
		}

		& .categories__link {
			color: $accent;
		}
	}

	&__body {
		background-color: $white;

		&--mob {
			@include phone {
				padding: 15px 20px 20px 20px;
			}
		}
	}
}

.sizes,
.brands {
	&__item {
		position: relative;
		padding-left: 28px;

		&::before {
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			width: 13px;
			height: 13px;
			background-color: $color-check;
			border: 4px solid $color-check;
			transform: translateY(-50%);
			transition: $transition-base;
		}

		&:hover {
			&:before {
				border: 4px solid $accent;
			}
		}
	}
}

.categories,
.sizes,
.brands,
.price-filtter {
	width: 100%;
	height: 100%;

	& .is-active {
		height: auto;
	}
}

.price-filtter {
	&__block {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;

		@include not-last {
			margin-right: 5px;

			@include tablet {
				margin-bottom: 15px;
			}

			@include landscape {
				margin-bottom: 0;
			}
		}
	}

	&__val {
		display: flex;
		align-items: center;

		@include not-last {
			margin-right: 15px;

			@include desktop {
				margin-right: 7px;
			}
		}
	}

	&__text {
		font-weight: 400;
		font-size: 14px;
		font-family: "h-bold";
	}

	&__input {
		width: 45px;
		height: 25px;
		padding-top: 3px;
		font-weight: 400;
		font-size: 14px;
		font-family: "h-bold";
		text-align: center;
		background-color: $color-check;
		border: none;

		&-to {
			@include tablet {
				margin-left: 19px;
			}

			@include landscape {
				margin-left: 0;
			}
		}
	}

}