section.s-best-sales
	.s-title
		h2.s-title__title <span class="s-title__first-word">BEST</span> SALES
		span.s-title__subtitle Lorem Ipsum is simply dummy text of the printing and typesetting industry
	.container
		.best-sales.slider-best-sales
			include ./items/item1
			include ./items/item2
			include ./items/item3
			include ./items/item4