extends template/main

block variables
	- var title = "reebok-track-jacket"
	- var pageClass = "reebok-track-jacket-page"

block content
	include pages/reebok-track-jacket/product-details/product-details
	include pages/reebok-track-jacket/related-products/related-products
	include modules/news-letter/news-letter