// Colors
$accent: #ff5912;
$text-color: #34404b;
$border-bottom: rgba(#e6e8eb, .5);
$limed-spruce: #3C4751;
$river-bed: #495662;
$content-color: #F4F6F8;
$border-line: #f2f4f7;
$footer-text: #28313b;
$color-check: #edf0f2;

// Sizes
$base-font-size: 16px;

// font-family
$font-family-base: "h-reg";

// $transition-base

$grid-gutter-width: 30px;
$grid-gutter-small: 10px;

$grid-columns: 12;
$grid-breakpoints: (xs: 0, xsm: 480px, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$container-max-widths: (sm: 100%, md: 720px, lg: 960px, xl: 1200px);