footer.footer(role="contentinfo")
	.container
		.footer__row
			.footer__logo-copyright
				.logo.footer__logo
					a(href="index.html").logo__link
						<img class="logo__img" src="static/images/general/logo/Logo.png" alt="shope any where" height="39" width="118">
				span.copyright.footer__copyright shopy c 2015 . your copy right here
			.footer-nav
				ul.footer-nav__list
					li.footer-nav__item
						a(href="#").footer-nav__link about us
					li.footer-nav__item
						a(href="#").footer-nav__link contact us
					li.footer-nav__item
						a(href="#").footer-nav__link support
			.footer-nav
				ul.footer-nav__list
					li.footer-nav__item
						a(href="#").footer-nav__link our feed
					li.footer-nav__item
						a(href="#").footer-nav__link terms and conditions
					li.footer-nav__item
						a(href="#").footer-nav__link our privacy
			.footer-nav
				ul.footer-nav__list
					li.footer-nav__item
						a(href="#").footer-nav__link join us
					li.footer-nav__item
						a(href="#").footer-nav__link live support
			.footer-playment
				span.footer-playment__title Payment Methods
				ul.footer-playment__list
					li.footer-playment__item
					li.footer-playment__item
					li.footer-playment__item
					li.footer-playment__item
					li.footer-playment__item
